################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/Amikiro.slnx/FileContentIndex
/app/DB.php
/app/param.php
